__pycache__/
.venv/
*.pyc
*.pyo
*.txt
.env
*.pytest_cache
*.pytest_tmp
*.ruff_cache
en-GB.json
stop.intent.txt
*.zip
*.md
docs/
coverage/
.pytest_cache/
dist/
build/
*.egg-info/
assets/
alexa-slot-imports/
